.header {
  font-family: 'Open Sans';
  font-weight:400;
  background: url(../img/header-bg.png) no-repeat center center;
  background-size: cover;
  &__nav {
    .navbar-default {
      background: none;
      border: none;
      margin-top: 20px;
    }
    .navbar-default .navbar-nav>li>a {
      font-size: 14px;
      font-family: "Open Sans";
      font-weight: 600;
      color: #fff;
    }
    .navbar-default .navbar-brand {
      color: #fff;
      font-family: $BebasBold;
      font-size: 30px;
    }
    &__btn {
      @include breakpoint(max-width 1000px) {
        margin: 0;
      }
      margin-left: 30px;
      a:hover {
          color: #000 !important;
          background-color: #fff !important;
          border-radius: 5px !important;
      }
    }
    &__social {
      @include breakpoint(max-width 1000px) {
        display: none;
      }
      float: right;
    }

    .basket-items {
      height: 15px;
      width: 15px;
      display: block;
      position: absolute;
      border-radius: 50%;
      background-color: #ef5145;
      top: 12px;
      right: 5px;
      &:before {
        content: attr(data-amount);
        font-size: 9px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 10px;
      }
    }
  }
  &__content {
    @include breakpoint(max-width 1200px) {
      margin-top: 40px;
    }
    margin: 120px 0;
    h1{
      @include breakpoint(max-width 600px) {
        font-size: 40px;
      }
      margin: 0;
      color: #fff;
      font-family:$BebasBold;
      font-size: 68px;
    }
    p {
      margin: 20px 0 40px;
      color: #fff;
    }
    a {
      display: inline-block;
      padding: 10px 100px;
      text-transform: uppercase;
      margin-bottom: 20px;
      @include breakpoint(max-width 500px) {
        padding: 10px 30px;
      }
      &:first-of-type {
        margin-right: 30px;
      }
    }
  }
}