.guarantee {
  background-color: #edeff1;
  &__wrap {
    position: relative;
    float: left;
    padding: 120px 0;
    img {
      @include breakpoint(max-width 500px) {
        display: none;
      }
      position: relative;
      float: left;
      width: 20%;
    }
    &__text {
      position: relative;
      float: left;
      width: 80%;
      padding-left: 30px;
      h2 {
        font-size: 34px;
        margin-top: 0;
        font-family: 'Montserrat';
        font-weight: 800;
      }
      p {
        font-size: 18px;
        padding-right: 10px;
        font-family: 'Open Sans';
        font-weight: 700;
      }
      @include breakpoint(max-width 500px) {
        width: 100%;
      }
    }
  }
}