.btn-order {
  font-family:'Open Sans';
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  padding: 10px 60px;
  color: #ef5145;
  border: 2px solid #ef5145;
  text-align: center;
  transition: .5s;
  background-color: transparent;
  border-radius: 5px;
  &:hover {
    background-color: #ef5145;
    color: #fff;
    transition: .2s;
  }
  @include breakpoint(max-width 500px) {
    padding: 10px 30px;
    min-width: 250px;
  }
}